.center-text {
	text-align: center;
}
.center-button {
	position:absolute;
    top: 8%;
    left: 25%;
}
.container {
	width: 324px;
	height: 324px;
	margin: 0 auto;
	border: 1px solid black;
	position: relative;
}
.square {
	border: 1px solid black;
	height: 150px;
	width: 150px;
	float: left;
	margin: 3px;
	padding: 2px;
	text-align: center;
	position: relative;

}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.yellow {
	background-color: yellow;
	clear: left;
}
.green {
	background-color: green;
}


